<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Agent_Scripts.Agent_Analytics"/>
      <class name="Agent_Scripts.Agent_Recent_Calls"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
